<h1>All Vets</h1>
<% @vets.each do |vet| %>
<ul>
  <li>
    <%= link_to "#{vet.name}" %>
  </li>
</ul>
<% end %>

<% if @current_user %>
    <%= link_to '<i class="fi-plus"></i> Add a Vet'.html_safe, new_vet_path, method: :get, class: "button" %>
<% end %>
