<div class="vet-info">

  <h2>
    My Vets
  </h2>
  <% @user_vets.each do |user_vet| %>
  <% vet = user_vet.vet %>
  <ul>
    <li>
      <%= link_to "#{vet.name}", vet_path(vet.id)%>
      <% if vet.primary(@current_user) %>
      <i class="fi-star large"></i>
      <% else %>
      <%= link_to '<i class="fi-star large", id="white-star"></i>'.html_safe, primary_path(vet), method: :patch %>
      <% end %>
    </li>
  </ul>
  <% end %>
  <%= link_to '<i class="fi-plus"></i>'.html_safe, new_vet_path, method: :get, class: "button info" %>
  <%= link_to '<i class="fi-list"></i> Vets'.html_safe, vets_path, method: :get, class: "button info" %>
</div>
