<div class="container">
  <div class="page-header">
    <p>
      My Vets
    </p>
      <% @current_user.vets.each do |vet| %>
      <ul>
        <li>
          <%= link_to "#{vet.name}", vet_path(vet.id)%>
          <% if vet.primary(@current_user) %>
            <p>
              primary!
            </p>
          <% else %>
            <%= button_to "Set as Primary Vet", primary_path(vet), method: :patch, class: "btn btn-default" %>
          <% end %>
        </li>
      </ul>
      <% end %>
      <%= button_to "Add a Vet", new_vet_path, method: :get, class: "btn btn-default" %>
  </div>
</div>
