<div id="vet-info">
<% if params[:search] != ""%>
  <% @vets.each do |vet| %>
  <ul>
    <li>
      <p><%= link_to vet.name, vet_path(vet.id) %></p>
    </li>
  </ul>
  <% end %>
<% end %>
<% if @current_user %>
    <%= link_to '<i class="fi-plus"></i> Add a Vet'.html_safe, new_vet_path, method: :get, class: "button" %>
  <% end %>
</div>
