<div id="vet-info">
<% if params[:search] != ""%>
  <% @vets.each do |vet| %>
  <ul>
    <li>
      <p><%= link_to vet.name, vet_path(vet.id) %></p>
    </li>
  </ul>
  <% end %>
<% end %>
<% if @current_user %>
  <%= button_to "Add a Vet", new_vet_path, method: :get, class: "btn btn-default" %>
  <% end %>
</div>
