/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 *= require foundation
*/

 // @import "bootstrap-sprockets";
 // @import "bootstrap";
 @import "foundation_and_overrides";
 @import 'foundation-icons';
/* Add imports of custom sass/scss files here */

body {
  background-image: image_url("pc_dog.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.button {
  color: #000000;
}

.button.google {
  background-color: #D74937;
  color: white;
  border-color: #D74937;
}

.google:hover {
  background-color: #D74937;
}

.info:hover{
  $lightness: -15%;
}

i {
  font-size: 0.9rem;
}

a {
  color: black;
}

// .nav-bar:a {
//   color: #a0d3e8;
// }

img {
  height: 3em;
}

.button, #search {
  border-radius: .5em;
  color: #000000;
}

.navbar {
  // border:1px solid #ccc;
  border-width: 1px 0;
  margin: 0;
  // padding:15px;
  // text-align: center;
  text-transform: uppercase;
}

.title {
  text-align: center;
  margin-top: 10em;
}

.input-group {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

// .vets-list {
//   margin-left: 34%;
// }

.welcome-buttons {
  text-align: center;
}

#vet-info, .vet-info {
  text-align: center;
}

ul {
  list-style-type: none;
}

.strong-name {
  font-weight: bold;
}

.services {
  text-align: center;
}

.hello {
  position: absolute;
  right: 20px;
  top: 10px;
}

.nav-bar {
  float: left;
  margin-top: 5px;
  // padding-left: 15px;
}

.logo {
  // float: left;
  margin-top: 20px;
  display: block
}

.user span{
  padding-right: 5px;
}

.user {
  background-color: rgba(255,255,255,0.3);
  padding-left: 5px;
}

#bar a {
  color: #a0d3e8;
}

.pricing {
  font-style: italic;
}
